$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-sm: 0.8rem;
$primary-color: #00b7ff;

%input-common {
    padding: 0.3rem 0.5rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    outline: none;
    background: transparent !important;
    font-family: $font-family;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 51rem;
    margin: auto;
    padding: 1rem;
    font-family: $font-family;
}

h2, h3 {
    margin: 0.5rem 0;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .row {
        span { width: 5rem; } 
        input { width: 100%; }
    }
}

input {
    @extend %input-common;
}

textarea {
    @extend %input-common;
    min-height: 300px;
    resize: none;
}

#login-form {
    width: 14rem;
    margin: 1rem auto;
}

.error-msg {
    line-height: $font-size-sm;
    font-size: $font-size-sm;
    color: red;
    text-align: center;
}

.row {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

a {
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
}

button, .btn {
    @extend %input-common;
    display: block;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    color: $primary-color;

    &:disabled {
        color: gray;
        border-color: gray;
    }
}

.b {
    font-weight: 600;
}

.c {
    text-align: center;
}

.sm {
    font-size: $font-size-sm;
}

hr, .mg-v-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.error, .ng-invalid.ng-dirty {
    border-color: red !important;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    height: 3rem;
    margin: 0.3rem 0;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: box-shadow .1s;

    .archive { display: none; }

    &:hover {
        box-shadow: 2px 2px 2px lightgray;

        .archive { display: block; }
    }

    & div {
        white-space: nowrap;
        overflow: hidden;
    }

    & .sender {
        font-weight: 600;
        margin-right: 1rem;
    }

    & .timestamp {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: $font-size-sm;
        color: gray;
        min-width: min-content;
    }
}

.read {
    background-color: aliceblue;
}

#email-header p {
    margin: 0.2rem 0;
}

.extra-recip {
    vertical-align: text-top;
    font-size: 0.6rem;
    font-weight: 400 !important;
}