<nav class="navbar navbar-expand p-3">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Shopping</a>
    </div>
    <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn" routerLink="recipes" routerLinkActive="active">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" routerLink="list" routerLinkActive="active">Shopping List</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="dropdown nav-item" appDropdown>
                <button class="btn nav-link dropdown-toggle">Manage</button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item nav-link">Save Data</a>
                    <a class="dropdown-item nav-link">Fetch Data</a>
                </div>
            </li>
        </ul>
    </div>
</nav>