<div class="row">
    <div class="col">
        <form (ngSubmit)="addIngredient()" #form="ngForm">
            <div class="row mb-2">
                <div class="col-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" ngModel required>
                </div>
                <div class="col-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" class="form-control" ngModel required>
                </div>
            </div>
            <div class="row row-cols-auto mg-2 g-2">
                <div class="col">
                    <button type="submit" class="btn-success btn" [disabled]="!form.valid">{{ ingredientId === null ? 'Add' : 'Edit'}}</button>
                </div>
                <div class="col">
                    <button type="button" class="btn-primary btn" (click)="clearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>