<div class="row">
    <div class="col">
        <form>
            <div class="row mb-2">
                <div class="col-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name">
                </div>
                <div class="col-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="amount">
                </div>
            </div>
            <div class="row row-cols-auto mg-2 g-2">
                <div class="col">
                    <button type="submit" class="btn-success btn" (click)="addIngredient()">Add</button>
                </div>
                <div class="col">
                    <button type="button" class="btn-danger btn">Delete</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn-primary btn" (click)="clearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>