<div class="row">
    <div class="col">
        <form (ngSubmit)="saveIngredient()" #form="ngForm">
            <div class="row mb-2 g-2" #top>
                <div class="col-8 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" #ingname [(ngModel)]="model.name" customInput [pipes]="'lower'" required>
                </div>
                <div class="col-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="model.amount">
                </div>
                <div class="col-2 form-group">
                    <label for="unit">Units</label>
                    <input type="text" id="unit" name="unit" class="form-control" 
                    [(ngModel)]="model.unit" 
                    customInput [pipes]="'lower lettersOnly'"
                    [disabled]="!model.amount">
                </div>
            </div>
            <div class="row row-cols-auto mg-2 g-2">
                <div class="col">
                    <button type="submit" class="btn-success btn" [disabled]="!form.valid">{{ model.id ? 'Edit' : 'Add'}}</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" (click)="clear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>