<div class="fadeIn mt-4">
    <div class="row justify-content-between align-items-center mb-4">
        <h3 class="col-auto">{{ recipe ? 'Edit recipe' : 'Add recipe'}}</h3>
        <div class="col-auto sm">Green fields are required</div>
    </div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="recipe-form">
        <div class="form-group">
            <div class="label-row">
                <label for="name">Name</label>
                <div *ngIf="name.dirty && !name.valid">
                    <p class="form-text text-danger" *ngIf="name.hasError('required')">Name is required</p>
                    <p class="form-text text-danger" *ngIf="name.hasError('recipeNameExists')">Recipe with such name already exists</p>
                </div>
            </div>
            <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <hr>
        <div class="form-group">
            <div class="label-row">
                <label for="description">Description</label>
                <p class="form-text text-danger" *ngIf="description.dirty && !description.valid">Description is required</p>
            </div>
            <textarea class="form-control" formControlName="description"></textarea>
            
        </div>
        <hr>
        <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" class="form-control" formControlName="imagePath">
        </div>
        <hr>
        <div class="form-group" formArrayName="ingredients">
            <div class="label-row">
                <label>Ingredients</label>
                <p class="row align-items-end form-text text-danger" *ngIf="ingredients.hasError('arrayError')">
                    <span *ngIf="ingredients.getError('arrayError').empty">Must contain at least 1 ingredient</span>
                    <span *ngIf="ingredients.getError('arrayError').required">Name cannot be empty</span>
                    <span *ngIf="ingredients.getError('arrayError').min">Invalid amount</span>
                </p>
            </div>
            <div class="row row-cols-auto align-items-center g-2 flex-nowrap ingred-cont" 
                *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
                <div class="col flex-shrink-1">
                    <input type="number" class="form-control" formControlName="amount" placeholder="amount" disableUnitIfNoAmount>
                </div>
                <div class="col flex-shrink-1">
                    <input type="text" class="form-control" formControlName="unit" placeholder="unit" >
                </div>
                <div class="col flex-grow-1">
                    <input type="text" class="form-control" formControlName="name" placeholder="name">
                </div>
                <div class="col flex-shrink-1">
                    <button class="btn btn-outline-danger" type="button" (click)="deleteIngredient(i)">X</button>
                </div>            
            </div>
            <button type="button" class="btn btn-outline-success mt-2" (click)="addIngredientGroup()">
                Add a new ingredient
            </button>
        </div>
        <hr>
        <div class="form-group">
            <div class="label-row">
                <label>Steps</label>
                <p class="form-text text-danger" *ngIf="steps.hasError('arrayError')">
                    <span *ngIf="steps.getError('arrayError').empty">Must contain at least 1 step</span>
                    <span *ngIf="steps.getError('arrayError').required">Cannot be empty</span>
                    <span *ngIf="steps.getError('arrayError').maxLength">Step must be under 1000 letters</span>
                </p>
            </div>
            <ul cdkDropList (cdkDropListDropped)="drop($event)"
                class="list-group list-group-flush" formArrayName="steps">
                <li cdkDrag
                *ngFor="let step of steps.controls; let i = index"
                    class="list-group-item row step">
                    <div class="step-drag-placeholder" *cdkDragPlaceholder></div>
                    <div class="col-auto step-num-n-del">
                        <div class="btn">{{i + 1}}.</div>
                        <button class="btn btn-outline-danger" type="button" (click)="deleteStep(i)">X</button>      
                    </div>
                    <div class="col-md-8 step-area">
                        <textarea class="form-control" [formControlName]="i"></textarea>
                    </div>
                    <div class="col-auto step-move-btns">
                        <button *ngIf="i > 0" class="btn btn-outline-success" type="button" (click)="moveStep(i, -1)">🡅</button>
                        <button *ngIf="i < steps.controls.length - 1" class="btn btn-outline-success" type="button" (click)="moveStep(i, 1)">🡇</button>      
                    </div>
                </li>     
            </ul>
            <button type="button" class="btn btn-outline-success" (click)="addStepControl()">
                Add a new step
            </button>
        </div>
        <hr>
        <div class="row justify-content-evenly g-0">
            <button class="btn btn-success col-5" type="submit" [disabled]="!recipeForm.valid">Submit</button>
            <button class="btn btn-outline-success col-5" type="button" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>
