/* AppComponent's private CSS styles */
h1 {
  text-align: center;
}

nav {
  text-align: center;

  a {
    padding: 1rem;
    text-decoration: none;
    margin: 10px 5px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
  }
  a:hover {
    color: white;
    background-color: #42545C;
  }
  a.active {
    background-color: black;
  }
}