<div class="detail-cont fadeIn">
    <div class="detail-header">
        <div class="detail-header-img">
            <img [src]="recipe.imagePath" class="img-fluid">
        </div>
        <div class="detail-header-text">
            <div class="row flex-nowrap g-2 justify-content-between mb-3">
                <h1 class="col-8">{{ recipe.name }}</h1>
                <div class="col-auto">
                    <div *ngIf="user" class="dropdown" appDropdown>
                        <button class="btn btn-outline-light dropdown-toggle" [disabled]="manageBtnDisabled">
                            Manage
                        </button>
                        <div class="dropdown-menu" [ngClass]="{disabled: manageBtnDisabled}">
                            <div class="dropdown-item" (click)="toShoppingList()">To Shopping List</div>
                            <div class="dropdown-item" routerLink="edit">Edit Recipe</div>
                            <div class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-desc">
                <div>{{ recipe.description }}</div>
            </div>
        </div>
    </div>
    <div class="detail-block">
        <h5>Ingredients</h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipe.ingredients">{{ing.amount}} {{ing.unit}} {{ing.name}}</li>
        </ul>
    </div>
    <div class="detail-block">
        <h5>Steps</h5>
        <ol class="list-group list-group-flush list-group-numbered">
            <li class="list-group-item" *ngFor="let step of recipe.steps">{{ step }}</li>
        </ol>
    </div>
</div>