.detail-header {
    position: relative;
    text-align: center;
}

.detail-header .img-fluid {
    max-height: 600px;
}

.detail-header-content {
    text-align: left;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(7, 71, 27, 0.7);
    padding-inline: 2rem;
    border-radius: 10px 10px 0 0;
    padding-block: 1.5rem;
}

.detail-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.detail-block, .detail-title {
    margin-block: 1.5rem;
}

.list-group-numbered .list-group-item {
    padding-left: 0.5rem;
}

.list-group-numbered .list-group-item::before {
    padding-right: 1rem;
    font-weight: 600;
    color: var(--primary);
}

.disabled {
    display: none !important;
}

@media (max-width: 700px) {

    .detail-header-content {
        position: relative;
        border-radius: 0;
    }

    .detail-title {
        flex-direction: column;
        gap: 0;
        align-items: flex-end;
    }
}