.recipes-list { 
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
}

.spinner-c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff80;
}

.load-btn {
    width: 100%;
    position: relative;
}