<h3>{{ mailbox.name | titlecase }}</h3>
<div>{{ errorMsg }}</div>
<div>
    <div *ngFor="let entry of mailbox.entries" class="entry" [ngClass]="{'read': entry.read}" (click)="onEntryClick(entry.id)">
        <div class="info">
            <div class="sender">
                {{ entry.user }}
                <span *ngIf="entry.extra > 0" class="extra-recip">+{{ entry.extra }}</span>
            </div>
            <div class="subject">{{ entry.subject }}</div>
            <div class="timestamp">{{entry.timestamp}}</div>
        </div>
        <button *ngIf="mailbox.name !== 'sent'" class="btn archive" type="button" 
            (click)="onArchive(entry.id, mailbox.name === 'inbox', $event)">
            {{ mailbox.name === 'inbox' ? 'Archive' : 'Unarchive'}}
        </button>
    </div>
    <div *ngIf="mailbox.entries.length === 0">No entries yet</div>

</div>
