<app-header [class]="'links-logo'" [showMiniLogo]="true" [pathNames]="currentLink.leads"></app-header>
<h3>Advanced Search</h3>
<hr>
<form action="https://google.com/search" class="flex-container" autocomplete="off">
    <div class="flex-item">
        <div class="label-container">
            <span class="search-header">Find pages with...</span>
        </div>
        <div class="input-container"></div>
        <div class="hint-container">
            <span class="hint-header">To do this in the search box.</span>
        </div>
    </div>
    <div class="flex-item">
        <div class="label-container">
            <label for="as_q">all these words:</label>
        </div>
        <div class="input-container">
            <input type="text" id="as_q" name="as_q">
        </div>
        <div class="hint-container">
            <div class="hint">Type the important words: <span class="typed">tri-colour rat terrier</span></div>
        </div>
    </div>
    <div class="flex-item">
        <div class="label-container">
            <label for="as_epq">this exact word or phrase:</label>
        </div>
        <div class="input-container">
            <input type="text" name="as_epq">
        </div>
        <div class="hint-container">
            <div class="hint">Put exact words in quotes: <span class="typed">"rat terrier"</span></div>
        </div>
    </div>
    <div class="flex-item">
        <div class="label-container">
            <label for="as_oq">any of these words:</label>
        </div>
        <div class="input-container">
            <input type="text" name="as_oq">
        </div>
        <div class="hint-container">
            <div class="hint">Type <span class="typed">OR</span> between all the words you want: <span class="typed">miniature OR standard</span></div>
        </div>
    </div>
    <div class="flex-item">
        <div class="label-container">
            <label for="as_eq">none of these words:</label>
        </div>
        <div class="input-container">
            <input type="text" name="as_eq">
        </div>
        <div class="hint-container">
            <div class="hint">Put a minus sign just before words that you don't want: -rodent, -"Jack Russell"</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="label-container"></div>
        <div class="input-container">
            <button type="submit" class="advanced-btn">Advanced Search</button>
        </div>
    </div>
</form>