.side, .main {
    overflow: auto;
    height: 75vh;
    position: relative;
    margin-top: 1rem;
}

.router-cont {
    padding-inline: 1rem;
    height: 100%;
}

@media (max-width: 700px) {
    .side { height: 50vh; border-block: 1px solid darkgray}
    .main { height: unset;}
    .router-cont { padding-inline: 0;}
}

.input-cont {
    position: relative;
}

.input-cont button {
    position: absolute;
    top: 0;
    right: 0.75rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
}
.input-cont input:focus ~ button {
    visibility: visible;
    opacity: 1;
}

.input-cont input {
    padding-right: 2.5rem; 
}