<div class="fadeIn">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-success mb-2" routerLink="new">New Recipe</button>
        </div>
        <div class="col input-cont">
            <input type="text" class="form-control" [(ngModel)]="filterString" placeholder="Type for a recipe...">
            <button type="button" class="btn btn-danger" (click)="clearFilter()">X</button>
        </div>
    </div>
    <div *ngIf="fetched" class="row mb-4 fadeIn">
        <div class="col-md-5 side">
            <div class="side-content">
                <app-recipe-list [filterString]="filterString"></app-recipe-list>
            </div>
        </div>
        <div class="col-md-7 main">
            <div *ngIf="!navigationSpinner.visible" class="main-content">
                <router-outlet></router-outlet>
            </div>
            <app-spinner *ngIf="navigationSpinner.visible"></app-spinner>
        </div>
    </div>
</div>

    