<div *ngIf="state.fetched" class="fadeIn">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-success mb-2" routerLink="new">New Recipe</button>
        </div>
        <div class="col input-cont">
            <input type="text" class="form-control" [(ngModel)]="filterString" placeholder="Type for a recipe...">
            <button type="button" class="btn btn-danger" (click)="clearFilter()">X</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5 side">
            <div class="side-content">
                <app-recipe-list [filterString]="filterString"></app-recipe-list>
            </div>
        </div>
        <div class="col-md-7 main">
            <div class="main-content" *ngIf="!state.navigationInProgress">
                <router-outlet></router-outlet>
            </div>
            <div class="main-content" *ngIf="isNavigationSpinnerVisible">
                <div class="empty">
                    <app-spinner></app-spinner>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isPageSpinnerVisible">
    <app-spinner></app-spinner>
</div>
<div *ngIf="state.error">
    <app-alert [message]="state.error"></app-alert>
</div>
