
<div class="fadeIn" [ngClass]="{'open' : isMobileVisible}" #top>
    <div class="row mb-2">
        <div class="col-auto">
            <button class="btn btn-success" routerLink="new">New Recipe</button>
        </div>
        <div class="col input-cont" [ngClass]="{'force-visible': filterString}">
            <input type="text" class="form-control" [(ngModel)]="filterString" placeholder="Type for a recipe...">
            <button type="button" class="btn btn-danger" (click)="clearFilter()">X</button>
        </div>
    </div>
    <div class="show-recipes-btn mb-2">
        <button type="button" class="btn w-100" [ngClass]="{'btn-success' : !isMobileVisible, 'btn-danger': isMobileVisible}" (click)="toggleMobileRecipes()">{{ isMobileVisible ? 'Hide recipes' : 'Show recipes'}}</button>
    </div>
    <main class="row mb-2">
        <div class="col-md-5 side">
            <app-recipe-list [filterString]="filterString"></app-recipe-list>
        </div>
        <div class="col-md-7 main" #main>
            <router-outlet *ngIf="!navigationSpinner.visible"></router-outlet>
            <app-spinner *ngIf="navigationSpinner.visible"></app-spinner>
        </div>
    </main>
</div>

    