
.side, .main {
    height: 75vh;
    position: relative;
    overflow: auto;
}

.input-cont {
    position: relative;
}

.input-cont button {
    position: absolute;
    top: 0;
    right: 0.75rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
}
.input-cont input:focus ~ button,
.force-visible button {
    visibility: visible;
    opacity: 1;
}

.input-cont input {
    padding-right: 2.5rem; 
}

.show-recipes-btn {
    display: none;
}

@media (max-width: 760px) {
    .main, .side {
        height: unset;
    }

    .show-recipes-btn {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .show-recipes-btn button {
        box-shadow: 1px 0 3px 1px darkgray;
    }

    .side {
        display: none;
        background-color: white;
        overflow: auto;
    }

    .open .side {
        display: block;
    }

    .open .main {
        display: none;
    }
    
}