<div id="email-header">
    <p>
        <span class="b">From: </span>
        <span id="email-from">{{ email.sender }}</span>
    </p>
    <p>
        <span class="b">To: </span>
        <span id="email-to">{{ email.recipients? email.recipients.join(', ') : '' }}</span>
    </p>
    <p>
        <span class="b">Subject: </span>
        <span id="email-subject"> {{ email.subject }}</span>
    </p>
    <p>
        <span class="b">Sent: </span>
        <span id="email-date">{{ email.timestamp }}</span>
    </p>
    <p class="btn-bar">
        <button type="button" class="btn" (click)="onReply()">Reply</button>
        <button type="button" class="btn" (click)="onDelete()">Delete</button>
    </p>		
</div>
<hr>
<div id="email-body" [appParseEmail]="email.body"></div> 
