.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    opacity: 0.5;
}
.btn-group-sm {
    display: none;
}

.btn-group-sm > * {
    margin: 0 0.2rem;
}

.interactive {
    opacity: 1;
}

.ingredient.interactive:hover .btn-group-sm {
    display: block;
}
