<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <div class="list-group" *ngIf="isFetched" #ingredientsCont>
            <div class="list-group-item ingredient interactive" *ngFor="let ingred of ingredients; let i = index">
                <div class="ingredient-text">{{ ingred.name }} ({{ ingred.amount }}{{ ingred.unit ? ' ' + ingred.unit : '' }})</div>
                <div class="btn-group-sm">
                    <button class="btn btn-outline-warning" (click)="editItem(i)">Edit</button>
                    <button class="btn btn-outline-danger" (click)="deleteItem(i)">Delete</button>
                </div>
            </div>
        </div>
        <div *ngIf="ingredients.length === 0 && isFetched">No ingredients in the list</div>
        <div *ngIf="!isFetched">Loading...</div>
    </div>
</div>
